" Search hl
set hlsearch
set incsearch

" Tabs settings
set tabstop=4
set shiftwidth=4
set softtabstop=4

set autoindent
set wrap

" Line numbers
set number
set relativenumber

" Highlight cursor line
set cursorline

" Always copy to clipboard
set clipboard=unnamed

" Show command keys
set showcmd
set laststatus=2

" Increase commands buffer
set history=200

" To open :Lex :Sex in previous buffer
let netrw_browse_split=4

" Visual bell to see error commands
set visualbell

" Show hidden characters
set lcs=eol:$,space:.,tab:>-,trail:.
set list " Enable hidden characters

" Plugin
set keep-english0in-normal-and-restore-in-insert

" Map russian keys
nmap ж ;
nmap ц w
nmap ш i
nmap ф a
nmap Ф A
nmap з p
nmap З P
nmap щ o
nmap Щ O
nmap ю .
nmap Ю >
nmap б ,
nmap Б <
nmap ы s
nmap Ы S
nmap у e
nmap н y
nmap п g
nmap П G
nmap Ц W
nmap У E
nmap Ж :
nmap пп gg
nmap о j
nmap л k
nmap д l
nmap р h
nmap н y
nmap и b
imap <C-v> <C-r>+
nmap <CR> i<CR><Right><Esc>
nmap <Del> a<Del><Esc>
vnoremap p "0p

" Comment out line
let @c = 'I/*<Esc>A*/<Esc>^'
let @u = 'I<Del><Del><Esc>A<BS><BS><Esc>^'
