<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="http://api.nuget.org/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="" value="" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
  </disabledPackageSources>
  <config>
    <add key="globalPackagesFolder" value="c:\NuGet\packages" />
    <add key="http_proxy" value="http://server:port" />
    <add key="http_proxy.user" value="domain\user" />
    <add key="no_proxy" value="server" />
  </config>
</configuration>
